<header class = "header-container">
      <h1 class="site-title">{{name}}<a href="#"></a></h1>
</header>
<section id = "header-info"> 
    <div class = "user-info">
        Current Level : <span id= "current-level"> {{level}} </span>
      <progress id = "progress-bar" max = {{maxExp}} value = {{currExp}} data-label="Current xp is {{currExp}}"> </progress>
    </div>
</section>