  <body>
      
    <header class = "header-container">
      <section id = "header-info"> 

      {{#if flag}}
      {{>userInfo userInfo}}
      {{/if}}
            </section>
    </header>

    {{!-- <header class = "header-container">

      <h1 class="site-title"> {{name}}<a href="#"></a></h1>

      <div class = "user-info">
          Current Level : <span id= "current level"> {{level}} </span>
        <progress max = {{maxExp}} value = {{currExp}} data-label="Current xp is {{curExp}}"> </progress>
      </div>
    </header> --}}
    <aside class="quest-container">
        <h2> something here so we can test</h2>
      </aside>

      <button class = "add-quest-button"> Add a quest </button>
    </body>
